* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.fatto {
    text-decoration: line-through;
}

.nascosto{
    display:none;
}