<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo MP</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(task, i) in toDolist" :key="i" :class="{fatto: (task.done == true)}"> {{task.text}} <button @click="changeStatus(i)">x</button></li>
            <input type="text" v-model="newTask" >
            <button @click="addTask">Aggiungi</button>
            <button @click="removeDone">Rimuovi il fatto</button>

        </ul>
        
    </div>

    <script src="js/main.js"></script>
</body>
</html>